{% extends 'eventbase.html' %}

{% block my_css %}
    {% load static %}
    <link rel="stylesheet" href="{%  static 'event/css/edit.css' %}">
{% endblock %}

{% block title %}Reply{% endblock %}

{% block content %}

<div class="panel-group" id="accordion">
    {% for person_item in view_form %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion"
                href="#collapseOne{{ forloop.counter }}">
                    Collapse
                </a>
            </h4>
        </div>
        <div id="collapseOne{{ forloop.counter }}" class="panel-collapse collapse in">
            <p class="panel-body">
    <form class="form-horizontal"  novalidate>
        <ol>
            {% for dict_item in person_item %}
                {% if forloop.first %}
                     <p>
                         {{ dict_item.user.username }} <label>'s response</label>
                      </p>
                 {% endif %}
                <div class="questionItem" >
                    <li>



                        <div class="form-group">
                            <label class="col-md-1 col-md-offset-1 control-label">Question</label>
                            <div class="col-md-7">
                                {{ dict_item.que_form.title }}
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-1 col-md-offset-1 control-label">Answer</label>
                            <div class="col-md-7">

                                {%  if dict_item.que_obj.type == 1 %}
                                    {{ dict_item.ans_form.value }}
                                {%  elif dict_item.que_obj.type == 2 %}
                                    {{ dict_item.ans_form.option }}
                                {% else %}
                                    {{ dict_item.ans_form.content }}
                                {% endif %}
                            </div>

                        </div>

                    </li>
                </div>
            {% endfor %}
        </ol>
    </form>
            </div>
        </div>
    </div>
    {% endfor %}
</div>









{% endblock content %}

{% block my_js %}
{% endblock %}